body {
    text-align: center;
    font-family: sans-serif
}

.mood {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected {
    background-color: #121212;
    color: white;
  }
  
  #status-message {
    font-size: 20px;
    margin-top: 20px;
  }
  